#biglietto {
    display: none; 
    padding-top: 30px;
}

#biglietto.hidden {
    display: none;
}

#biglietto.show {
    display: block;
}

.lista-info {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 13px;
}

.lista-info > li:first-child {
    width: 30%;
}